[alias]
    aa = add -A
    ci = commit
    cl = clone
    di = diff
    fe = fetch
    fetch = pull
    mg = merge
    se = send
    send = push
    st = status
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[user]
    email = 206883673+01440142@users.noreply.github.com
    name = 01440142
